/* 开关按钮样式 */
.file-Supervision-setting-container .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.file-Supervision-setting-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.file-Supervision-setting-container .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-modifier-border-hover);
    transition: 0.4s;
    border-radius: 20px;
}

.file-Supervision-setting-container .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--toggle-thumb-color);
    transition: 0.4s;
    border-radius: 50%;
}

.file-Supervision-setting-container input:checked+.slider {
    background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    /* 开启时的背景颜色 */
}

.file-Supervision-setting-container input:checked+.slider:before {
    transform: translateX(20px);
    /* 滑块移动的距离 */
}

.file-Supervision-setting-container .setting-item {
    margin-top: 1em;
    border-bottom: 1px solid var(--background-modifier-border-hover);
}

.file-Supervision-setting-container .recent-file-open-new-tab{
    margin-left: 2em;

}