.file-supervision {

    min-width: 6em;
}

.file-supervision-table-none {
    display: none;
}

.file-supervision-table-show.tips,
.file-supervision-table-none.tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 1.5em;

}

.save-file-info:hover,
.show-table:hover {

    color: var(--nav-item-color-hover);
    background-color: var(--nav-item-background-hover);
    font-weight: var(--nav-item-weight-hover);

}

/*
.show-table {

    border-radius: 5px;
    height: 100%;
    min-width: 5em;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
    margin-right: 1em;
}

.save-file-info {
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
} */

/*  状态栏 */
.watchtowerPlugin-status-bar-item.is-dirty {
    color: #de0909;
}



