.file-supervision-table-show{
    max-width: 30em;
    margin-bottom: 1em;
    margin-left: 2em;
}

.file-supervision-table-none {
    display: none;
}
.recent-open-file-table{
    margin-bottom: 1em;
    border: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);;
}
/* 表格整体样式 */
table {
    width: 100%;
    border-collapse: collapse; /* 合并边框 */

}

/* 表头样式 */
thead th {
    border: 1px solid #ddd; /* 添加分割线 */
    padding: 8px;
    text-align: left;
    background-color: #f4f4f4; /* 可选背景色 */
    white-space: nowrap; /* 防止换行 */
    overflow: hidden; /* 隐藏超出内容 */
    text-overflow: ellipsis; /* 显示省略号 */
    min-width: 3em; /* 设置最小列宽 */
}

/* 表格单元格样式 */
tbody td {
    border: 1px solid #ddd; /* 添加分割线 */
    padding: 8px;
    white-space: nowrap; /* 防止换行 */
    overflow: hidden; /* 隐藏超出内容 */
    text-overflow: ellipsis; /* 显示省略号 */
    max-width: 200px; /* 设置最大宽度，超出部分隐藏 */
    
    min-width: 3em; /* 设置最小列宽 */
}
/* 固定序列列最小宽度 */
td:nth-child(1), th:nth-child(1) {
    min-width: 1em; /* 序列列最小宽度 */
}



.file-supervision-table-show span{
    font-size: 0.8em;
    /* margin-left: 3em; */
}




.file-supervision-table-show.tips,
.file-supervision-table-none.tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1.5em;

}

.save-file-info:hover,
.show-table:hover {

    color: var(--nav-item-color-hover);
    background-color: var(--nav-item-background-hover);
    font-weight: var(--nav-item-weight-hover);

}

/*
.show-table {

    border-radius: 5px;
    height: 100%;
    min-width: 5em;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
    margin-right: 1em;
}

.save-file-info {
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
} */
.file-supervision .file-supervision-table-show.tips,
.file-supervision .file-supervision-table-none.tips {
    margin: 0.5em;
    padding: 3px 8px;
}

.file-supervision-table-show table{
    margin: 0.5em;
    padding: 0.5em;
    border-inline-start: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    /* 右边 */
    border-inline-end: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
}
.tree-item-self.nav-file-title.tappable.is-clickable{
    max-width: 95%;
}






/*  状态栏 */
.watchtowerPlugin-status-bar-item.is-dirty {
    color: #de0909;
}