.file-supervision-table-show {
    width: auto;
    max-width: 100%;
    margin-left: 0.5em;
}

.file-supervision-table-none {
    display: none;
}

.recent-open-file-table {
    margin-bottom: 1em;
    /* border: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color); */
}

/* 表格整体样式 */
.file-supervision table {
    width: auto;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.file-supervision th,
.file-supervision td {
    border: 1px solid var(--color-base-30);
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 1em;
}

.file-supervision th:nth-child(1),
.file-supervision td:nth-child(1) {
    width: auto;
}

.file-supervision th:nth-child(2),
.file-supervision td:nth-child(2) {
    max-width: 8em;
    min-width: 1em;
}

.file-supervision th:nth-child(3),
.file-supervision td:nth-child(3) {
    max-width: 100%;
    min-width: 1em;
}





.file-supervision-table-show.tips,
.file-supervision-table-none.tips {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 1.5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.1em;
    margin-right: 0;
    padding: 3px 0 3px 8px;
    font-size: 1em;

}

.file-supervision .save-file-info,
.file-supervision .show-table {
    font-size: 0.8em;
}

.file-supervision .save-file-info:hover,
.file-supervision .show-table:hover {

    color: var(--nav-item-color-hover);
    background-color: var(--nav-item-background-hover);
    font-weight: var(--nav-item-weight-hover);

}


.file-supervision-table-show table {
    margin: 0 0.5em 0.5em 0;
    padding: 0.5em;
    border-inline-start: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
    /* 右边 */
    border-inline-end: var(--nav-indentation-guide-width) solid var(--nav-indentation-guide-color);
}

.file-supervision .markTime {
    font-size: 0.8em;
}


