.file-supervision table {
    border-collapse: collapse;
    border: 1px solid #000;

}

.file-supervision tr {
    border-bottom: #000 1px solid;
}
.file-supervision td,
.file-supervision th{
    border-right: #000 1px solid;

}

.file-supervision-table-none {
    display: none;
}

.file-supervision-table-show.tips,
.file-supervision-table-none.tips {
    /* display: block;
    margin: 2px;
    padding: 2px;
    background-color: #fff;
    border-radius: 5px; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 3em;
}

.save-file-info:hover,
.show-table:hover {

    box-shadow: 0 0 5px #dadadaa5;
}
.show-table{

    border-radius: 5px;
    /* 占据剩余宽度 */
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
    margin-right: 1em;
}

.save-file-info{
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000000a5;
}