.PluginManagerView .GroupView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 51em;
    margin-bottom: 5px;
}
.GroupView .GroupView-group{
    border: #8e8d8d75 solid 1px;
    padding: 0 5PX;
    background-color: #cccccc84;
    cursor: pointer;
    border-radius: 0.5em;
    /* 外阴影 */
    box-shadow: 0 0 2px  rgba(0, 0, 0, 0.2);
    margin:0 2px;
}
.GroupView .GroupView-group:hover{
    background-color:  var(--titlebar-background-focused);
    /* 外阴影 */
    box-shadow: 0 0  2px  rgba(0, 0, 0, 0.2);
}
.GroupView .GroupView-delete{
    border: 1px solid rgba(103, 108, 108, 0.313);
    border-radius: 0.5em;
    cursor: pointer;
    background: var(--titlebar-background-focused);
    margin-left: 0.3em;
    position: relative; /* 添加相对定位 */
    left: 5px; /* 向右移动 5px */
    
}
.GroupView .GroupView-delete:hover {
    background-color: var(--background-modifier-hover);
}
.GroupView .GroupView-active{
    background-color: var(--titlebar-background-focused);

}

.GroupView-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 5em;
}

.GroupView-setting button {
    /* background-color: #007bff; */
    color: var(--icon-color);
    border: none;
    border-radius: 30%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.GroupView-setting button:hover {
    background-color: var(--background-modifier-hover);
}

.GroupView .GroupView-setting {
    display: flex;
    width: 5em;
    flex-direction: row;
    justify-content: space-between;
}