.PluginManagerView .GroupView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 51em;
    margin-bottom: 5px;
}
.GroupView .GroupView-group {
    display: flex;
    padding: 0.5em 0.5em;
    cursor: pointer;
    border-radius: 1em;
    margin-right: 0.5em;
    height: 1.5em;
    align-content: center;
    align-items: center;

}
.GroupView .GroupView-group:hover{
    background-color:  var(--background-modifier-hover);
    /* 外阴影 */
    box-shadow: 0 0  2px  rgba(0, 0, 0, 0.2);
}
.GroupView .GroupView-delete {
    /* border: 1px solid rgba(103, 108, 108, 0.313); */
    /* border-radius: 0.5em; */
    cursor: pointer;
    /* background: var(--background-modifier-hover); */
    margin-left: 0.3em;
    position: relative;
    left: 5px;
}
.GroupView .GroupView-delete:hover {
    background-color: var(--titlebar-background-focused);
}
.GroupView .GroupView-active{
    background-color: var(--background-modifier-hover);

}
div.GroupView div.GroupView-container {
    display: flex;
    align-items: center;
}
.GroupView-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 5em;
}

.GroupView-setting button {
    /* background-color: #007bff; */
    color: var(--icon-color);
    border: none;
    border-radius: 30%;
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.GroupView-setting button:hover {
    background-color: var(--titlebar-background-focused);
}

.GroupView .GroupView-setting {
    display: flex;
    width: 5em;
    flex-direction: row;
    justify-content: space-between;
}