.PluginManagerView {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
}

.PluginManagerView .grouping {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.PluginManagerView .tag-container {
    padding: 0;
    /* 字体加粗 */
    font-weight: bold;
    padding-top: 2em;
    width: 3em;
}

.pluginManager-table {
    width: inherit;
}

.PluginManagerView .initial-tag {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 3px;
}

.PluginManagerView .initial-tag.active-initial {
    background-color: var(--background-modifier-border-hover);
}

.PluginManagerView table {
    table-layout: auto;
    /* 替代原来的 fixed */
    /* 使列宽由 CSS 控制 */
    border-collapse: collapse;
    /* width: fit-content; */
    /* 让表格宽度由内容决定 */

    width: 100%;
}


.PluginManagerView .initial-tag:hover {
    background-color: var(--background-modifier-border-hover);
}

.PluginManagerView .GroupView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 开关按钮样式 */
.PluginManagerView .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.PluginManagerView .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.PluginManagerView .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-modifier-border-hover);
    transition: 0.4s;
    border-radius: 20px;
}

.PluginManagerView .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--toggle-thumb-color);
    transition: 0.4s;
    border-radius: 50%;
}

.PluginManagerView input:checked+.slider {
    background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    /* 开启时的背景颜色 */
}

.PluginManagerView input:checked+.slider:before {
    transform: translateX(20px);
    /* 滑块移动的距离 */
}

.PluginManagerView .setting-item {
    display: flex;
    align-items: center;
    padding: 0.75em 0;
    flex-direction: column;
    justify-content: center;
}



/* 表格样式 */



.PluginManagerView tr {
    border: 1px solid #ddd;
    /* 添加下边框作为分割线 */
}


.PluginManagerView td {
    padding: 0 5px;
    min-width: 0;
    /* 允许单元格宽度自由收缩 */
}

.PluginManagerView th {
    background-color: #9e9d9d51;
    height: 3em;
    cursor: pointer;
    border: #333 solid 1px;
    font-size: 0.8em;
}


.PluginManagerView td:nth-child(odd) {
    /* 单数行 */
    background-color: #e1e1e159;
}

.PluginManagerView td:nth-child(even) {

    background-color: #f9f9f9;
}


.PluginManagerView .plugin-name {
    display: flex;
    justify-content: space-between;
}

.PluginManagerView .version {
    color: #b6b6b6;
    font-size: 0.7em;
}

.PluginManagerView .plugin-name.isDesktopOnly {
    color: var(--background-modifier-border-hover);
}

.PluginManagerView .enabled {
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

.PluginManagerView .plugin-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.PluginManagerView .enabled:hover {
    background-color: #ffffff;
    color: #333;
}

.PluginManagerView table th:nth-child(1),
.PluginManagerView table td:nth-child(1) {
    width: 9.5em;
    min-width: 9.5em;
}

.PluginManagerView th:nth-child(2),
.PluginManagerView td:nth-child(2) {
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
    /* 让单元格内的内容垂直居中 */
    width: 3em;
    min-width: 3em;
}

.PluginManagerView th:nth-child(3),
.PluginManagerView td:nth-child(3) {
    width: 3em;
    min-width: 3em;
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
}

.PluginManagerView td:nth-child(3) input {
    display: inline-block;
    box-sizing: border-box;
    width: 3em;
    min-width: 3em;
    padding: 0;
    border: 0;
}

.PluginManagerView th:nth-child(4),
.PluginManagerView td:nth-child(4) {
    min-width: 0em;
    padding: 0;
}

.PluginManagerView th:nth-child(5),
.PluginManagerView td:nth-child(5) {
    min-width: 5.5em;
    /* 设置第三列的宽度 */
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
    /* 让单元格内的内容垂直居中 */
    font-size: 0.8em;
}


.PluginManagerView th:nth-child(6),
.PluginManagerView td:nth-child(6) {

    width: 100%;
}

.PluginManagerView textarea {
    width: 100%;
    box-sizing: border-box;
    /* 确保内边距不影响宽度计算 */
}

.pluginManager-table-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & button {
        cursor: pointer;
    }
}

.pluginManager-table-header div:last-child {
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}