.PluginManagerView {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.PluginManagerView .GroupView {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 开关按钮样式 */
.PluginManagerView .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.PluginManagerView .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.PluginManagerView .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background-modifier-border-hover);
    transition: 0.4s;
    border-radius: 20px;
}

.PluginManagerView .slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--toggle-thumb-color);
    transition: 0.4s;
    border-radius: 50%;
}

.PluginManagerView input:checked+.slider {
    background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    /* 开启时的背景颜色 */
}

.PluginManagerView input:checked+.slider:before {
    transform: translateX(20px);
    /* 滑块移动的距离 */
}

.PluginManagerView .setting-item {
    display: flex;
    align-items: center;
    padding: 0.75em 0;
    flex-direction: column;
    justify-content: center;
}



/* 表格样式 */


.PluginManagerView table {
    border-collapse: collapse;
    width: 100%;
}



.PluginManagerView tr {
    border: 1px solid #ddd;
    /* 添加下边框作为分割线 */

}


.PluginManagerView td {
    padding-left: 5px;

}

.PluginManagerView th {
    background-color: #9e9d9d51;
    height: 3em;
    cursor: pointer;
    border: #333 solid 1px;
    font-size: 0.8em;
    width: 3em;
}


.PluginManagerView td:nth-child(odd) {
    /* 单数行 */
    background-color: #e1e1e159;
}

.PluginManagerView td:nth-child(even) {

    background-color: #f9f9f9;
}


.PluginManagerView .plugin-name {
    display: flex;
    justify-content: space-between;
}

.PluginManagerView .version {
    color: #b6b6b6;
    font-size: 0.7em;
}



.PluginManagerView .enabled {
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
}

.PluginManagerView .plugin-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.PluginManagerView .enabled:hover {
    background-color: #ffffff;
    color: #333;
}

.PluginManagerView th:nth-child(1),
.PluginManagerView td:nth-child(1) {
    width: 5em;
}

.PluginManagerView th:nth-child(2),
.PluginManagerView td:nth-child(2) {
    /* 设置第二列的宽度 */
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
    /* 让单元格内的内容垂直居中 */
    width: 3.5em;
}

.PluginManagerView th:nth-child(3),
.PluginManagerView td:nth-child(3) {
    width: 3em;
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
}

.PluginManagerView td:nth-child(3) input {
    display: inline-block;
    /* 确保宽度至少能容纳内容 */
    box-sizing: border-box;
    width: 3em;
}

.PluginManagerView th:nth-child(4),
.PluginManagerView td:nth-child(4) {
    width: 4em;
    /* 设置第三列的宽度 */
    text-align: center;
    /* 让单元格内的文本居中 */
    vertical-align: middle;
    /* 让单元格内的内容垂直居中 */
    font-size: 0.8em;
}

.PluginManagerView th:nth-child(5),
.PluginManagerView td:nth-child(5) {

    /* width: 100%; */
    min-width: 10.8em;
}

.PluginManagerView th:nth-child(6),
.PluginManagerView td:nth-child(6) {
    width: 100%;
    min-width: 20.8em;
}

.PluginManagerView textarea {
    width: 100%;
}